# Environment Config
# Store  secrets and config variables in here, only invited
# collaborators will be able to see your .env values
# reference these in your code with process.env.SECRET_NAME

DARKSKY_API_KEY="_PUT_YOUR_DARK_SKY_API_KEY_HERE_"

# note: .env is a shell file so there can't be spaces around =
